
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Queue Monitor</title>
</head>

<body>

<div class="home-container">

    <div class="home-card">

        <div class="icon">
            <img src="{{ url_for('static', filename='logo/Tqueue.png')}}" alt="Logo">
        </div>


        <p class="subtitle">Tuition Queue Track: Real-Time Web and Mobile-Based RFID Queue Monitoring and Student Payment Management System with AI-Based Prediction and System Monitoring</p>

        <a href="{{url_for('admin_login')}}" class="login-btn">Login</a>

    </div>

</div>

</body>
</html>