<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Queue Monitor</title>
</head>

<body>

<div class="home-container">

    <div class="home-card">

        <div class="icon">
            👥
        </div>

        <h1>Queue Monitor</h1>
        <p class="subtitle">Queue Track: A RealTime Web and Mobile Queue Monitoring and Student Payment Management System</p>

        <a href="{{url_for('admin_login')}}" class="login-btn">Login</a>

    </div>

</div>

</body>
</html>